# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
xcshareddata/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
*.apk
android/app/release/output.json

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore
!my-release-key.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
# fastlane 不推荐纳入 git 是因为他们有生成截图的方法，但不好用 https://docs.fastlane.tools/getting-started/ios/screenshots/
# */fastlane/screenshots

# Bundle artifact
*.jsbundle
*.jsbundle.map

# CocoaPods
/ios/Pods/
*.app.dSYM.zip